<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>

  <appSettings>
    <add key="Constring" value="datasource=127.0.0.1;port=3306;username=root;password=;database=collegedb;"/>
    <add key="EmailUsername" value="annesdegree@gmail.com"/>
    <add key="EmailPassword" value="annes123"/>
    <add key="IntervalTime" value="5"/>
    <add key="ImagePath" value="Images"/>
  </appSettings>
</configuration>
