<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>

  <appSettings>
    <add key="Constring" value="Server=119.18.54.150;Port=3306;Database=a1619mzq_collegedb;Uid=a1619mzq_Test;Pwd=ZG6hO~=)F2RH;"/>
    <add key="EmailUsername" value="annesdegreecollege@gmail.com"/>
    <add key="EmailPassword" value="annes123"/>
    <add key="IntervalTime" value="5"/>
    <add key="ImagePath" value="Images"/>
  </appSettings>
</configuration>
